<a href="https://colab.research.google.com/github/oashaye118/TruBridge_Analytics/blob/main/SecondColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
 x = 22
 y = 28

 print(x == y)

False

In [2]:
my_var = 50
print('value: ', my_var)

value:  50

In [9]:
age = "48"
print("I am", age, "years old")

I am 48 years old

In [11]:
a = 17
b = 13
c = 6

#addition
print(a+b)
print(b+c)
print(a+c)
print(a+b+c)

#subtraction
print(a-b)
print(b-c)
print(a-c)
print(a-b-c)

#multiplication
print(a*b)
print(b*c)
print(a*c)
print(a*b*c)

#division
print(a/b)
print(b/c)
print(a/c)
print(a/b/c)

30
19
23
36
4
7
11
-2
221
78
102
1326
1.3076923076923077
2.1666666666666665
2.8333333333333335
0.21794871794871795

In [14]:
num1 = 29
num2 = 92
print(num1 > 10 and num2 >10)

True

In [15]:
print('The womans maiden name is good', end='luck')

The womans maiden name is goodluck